.products_container {
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: Area, sans-serif;
  }
  h2 {
    font-family: Area, sans-serif;
    font-weight: normal;
    margin-top: 10px;
    font-style: normal;
  }
  .products_wrapper {
    width: 1100px;
    margin: auto;
    text-align: center;

    margin-top: 70px;

    .card_products {
      display: flex;
      justify-content: space-between;
      margin-top: 2em;
    }
  }

  .products_card {
    width: 1100px;
    margin: auto;
    text-align: center;
    margin-bottom: 5em;

    margin-top: 70px;
    h1 {
      font-weight: 700;
      text-transform: uppercase;
      font-family: Area, sans-serif;
    }
    h2 {
      font-family: Area, sans-serif;
      font-weight: normal;
      margin-top: 10px;
      font-style: normal;
    }

    .card_products {
      display: flex;
      justify-content: space-between;
      margin-top: 2em;
    }
  }

  .products_paragraph {
    width: 1100px;
    margin: auto;
    text-align: center;
    margin-bottom: 10em;
    margin-top: -2em;

    h3 {
      font-family: Area, sans-serif;
      margin-top: 10px;
      font-style: normal;
      color: rgb(0, 30, 96);
      font-size: 1.6em;
      font-weight: normal;
    }
  }
}
