.products_container {
  width: 100%;

  margin: auto;
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: Area, sans-serif;
  }
  h2 {
    font-family: Area, sans-serif;
    font-weight: normal;
    margin-top: 10px;
    font-style: normal;
  }
  .products_wrapper {
    width: 1100px;
    margin: auto;
    text-align: center;

    margin-top: 70px;

    .card_products {
      display: flex;
      margin-top: 2em;

      .card_item {
        width: 300px;

        img {
          width: 200px;
          height: auto;
        }
      }
    }
  }
}
