:root {
  --primary-color: #001e60;
}

.header_wrapper {
  width: 100%;
  height: 46px;
  margin: auto;
  font-size: 0.85rem;
  background: #d5cbcb;
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  font-family: Area, sans-serif;
  background: #f9f8f8;
  .navbar_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    list-style: none;

    a {
      text-decoration: none;
      padding-left: 10px;
    }
  }

  .navbar_two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    list-style: none;
    left: 130%;
    position: relative;

    a {
      text-decoration: none;
      padding-left: 10px;
    }
  }

  .logo {
    position: relative;
    left: 13%;
    top: -2%;
  }
}
